{% load static %}
<html>
<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'js/blog_add.js' %}"></script>
</head>
<body>
<div class="page-header">
    <h1><a href="/">Django Girls Blog</a></h1>
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

<div class="d-none" id="add-modal">
    <form id="add-blog">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default" id="add-form-save">Добавить</button>
        <button type="submit" class="save btn btn-default" id="add-form-cancel">Отмена</button>
    </form>
</div>

</body>
</html>